#failure-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#failure-screen>h1 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

#failure-screen>h2 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}